<div class="login-form">
    <h2>Login </h2>
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="" required>
      
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" id="" aria-describedby="helpId" placeholder="" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</div>