<center>
  <div class="login-form">
    <h3>Login</h3>
    <label for="email">Email</label>
    <div class="form-group">
      <input type="text" name="email" id="" class="form-control" placeholder="Email">
    </div> 

    <label for="Password">Email</label>
    <div class="form-group">
      <input type="password" name="password" id="" class="form-control" placeholder="Paasword">
    </div> 

    <div class="form-group">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
    
  </div>
</center>