body{
    background-color: lightgray;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
    color: dodgerblue;

}

.footer li a{
    text-decoration: none;
    list-style-type: none;
}
.right{
    padding: 20px;
}



.ul li a{
    text-decoration: none;
    list-style-type: none;
}
.left{
    padding: 20px;
}